{% extends "admin/base.html" %}

{% block title %}{{ title }} | NEAB administrativo{% endblock %}
{% block extrastyle %}
<style>
    #header {
        background-color: #000000;        
    }
    #header a:link, #header a:visited {
        color: #FFF;
    }
    .module h2, .module caption, .inline-group h2 {
        background: #FFB800
    }
    div.breadcrumbs {
        background: #FFB800;
        color: #c66900;
    }
    .button, input[type="submit"], input[type="button"], .submit-row input, a.button {
        background: #FFB800;
    }
    .button:active, input[type="submit"]:active, input[type="button"]:active, .button:focus, input[type="submit"]:focus, input[type="button"]:focus, .button:hover, input[type="submit"]:hover, input[type="button"]:hover {
        background: #fb8c00
    }
    .button.default, input[type="submit"].default, .submit-row input.default {
        background: #80D52F;
    }
    .button.default:active, input[type="submit"].default:active, .button.default:focus, input[type="submit"].default:focus, .button.default:hover, input[type="submit"].default:hover {
        background: #78AB46;
    }

    a.section:link, a.section:visited {
        color: #000;
        text-decoration: none;
    }

    a:link, a:visited {
       color: #000;
        text-decoration: none;
    }

    .button, input[type=submit], input[type=button], .submit-row input, a.button {
        background: #FFB800;
        padding: 10px 15px;
        border: none;
        border-radius: 4px;
        color: #000;
        cursor: pointer;
    }
 
</style>
{% endblock %}
{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">NEAB</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}