<!-- <html>
<head>
  <title>{{ obj.title }}</title>
  <style>
    body {
      background-color: #f7f7f7;
    }
    p {
      text-align: justify;
      text-justify: inter-word;
    }
    .text-right {
      text-align: right;
    }
  </style>
</head>
  <body>
    {% for i in loop_times %}
    <p>1 paragrafo </p>
    {% endfor %}
    <h1 class="text-right">Nº {{ obj.id }}</h1>
    <p><b>Título:</b> {{ obj.title }}</p>
    <p><b>Data:</b> {{ obj.date}}</p>
    <p><b>Descrição:</b> {{ obj.description}}</p>
  </body>
</html> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <style scoped>
        #customers {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        #customers td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #customers tr:nth-child(even){background-color: #f2f2f2;}

        #customers tr:hover {background-color: #ddd;}

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: rgb(160, 132, 8);
            color: white;
        }    
    </style>
    <h3>{{ obj.nome }}</h3>
    <table id="customers">
        <tr>
            <th>Usuário</th>
            <th>Horas</th>
            <th>Data</th>
        </tr>
        {% for activity in activities %}
            <tr>
                <td>{{ activity.user_name }}</td>
                <td>{{ activity.duration }}</td>
                <td>{{ activity.date_activity }}</td>
            </tr>        
        {% endfor %}
    </table>
</body>
</html>